## Import Data & Merge Dataframes

In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path 
import numpy as np

In [2]:
# Create student info dataframe
student_info_df=pd.read_csv("Resources/Student_Info.csv")
student_info_df.head()

   student_id school_name  grade_level_2019
0       13898    School G                 1
1       27795    School G                 1
2       22938    School E                 1
3       22431    School F                 1
4       18048    School E                 1

In [3]:
# Create MAP_Scores dataframe
map_scores_df=pd.read_csv("Resources/MAP_Scores.csv")
map_scores_df.head()

,student_id,year,map_term,subject,rit_score,percentile,quartile,typical_fall_to_spring_growth
0,13898,2019,Fall,Reading,161,59,3,18
1,27795,2019,Fall,Reading,158,50,3,19
2,22938,2019,Fall,Reading,162,62,3,18
3,22431,2019,Fall,Reading,162,62,3,18
4,18048,2019,Fall,Reading,166,73,3,17

In [4]:
# Create Special_Programs dataframe
special_programs_df=pd.read_csv("Resources/Special_Programs.csv")
special_programs_df.head()

   student_id program_name
0       13898         SPED
1       27795         SPED
2       22938            .
3       22431            .
4       18048            .

In [5]:
# Merge student_info and map_scores dataframes
info_scores_df = pd.merge(student_info_df, map_scores_df,how="outer", left_on='student_id', right_on='student_id')
info_scores_df.head()

,student_id,school_name,grade_level_2019,year,map_term,subject,rit_score,percentile,quartile,typical_fall_to_spring_growth
0,13898,School G,1,2019,Fall,Reading,161,59,3,18
1,13898,School G,1,2019,Fall,Math,166,69,3,20
2,13898,School G,1,2019,Spring,Reading,175,43,2,.
3,13898,School G,1,2019,Spring,Math,186,65,3,.
4,27795,School G,1,2019,Fall,Reading,158,50,3,19

In [6]:
# Merge info_scores_df and special_programs dataframes
kipp_maps_df = pd.merge(info_scores_df, special_programs_df,how="outer", left_on='student_id', right_on='student_id')
kipp_maps_df.head()

,student_id,school_name,grade_level_2019,year,map_term,subject,rit_score,percentile,quartile,typical_fall_to_spring_growth,program_name
0,13898,School G,1,2019,Fall,Reading,161,59,3,18,SPED
1,13898,School G,1,2019,Fall,Math,166,69,3,20,SPED
2,13898,School G,1,2019,Spring,Reading,175,43,2,.,SPED
3,13898,School G,1,2019,Spring,Math,186,65,3,.,SPED
4,27795,School G,1,2019,Fall,Reading,158,50,3,19,SPED

## Basic Data Cleaning

In [7]:
# Find unique values for school name
kipp_maps_df.school_name.unique()

array(['School G', 'School E', 'School F', 'School B', 'School C',
       'School D', 'School A'], dtype=object)

In [8]:
# Find unique values for grade level
kipp_maps_df.grade_level_2019.unique()

#QUESTION: Is 0 kindergarten or an unknown grade?

array([1, 2, 3, 4, 5, 6, 7, 8, 0], dtype=int64)

In [9]:
# Find unique values for year
kipp_maps_df.year.unique()

array([2019], dtype=int64)

In [10]:
# Find unique values for map_term
kipp_maps_df.map_term.unique()

array(['Fall', 'Spring'], dtype=object)

In [11]:
# Find unique values for subject
kipp_maps_df.subject.unique()

array(['Reading', 'Math', 'Read'], dtype=object)

In [12]:
# Identifying how many 'Read' values exist
kipp_maps_df['subject'].value_counts()

Math       5562
Reading    5454
Read        106
Name: subject, dtype: int64

In [13]:
# Replace 'Read' in the subject column with 'Reading'
kipp_maps_df.replace("Read", "Reading", inplace=True)

In [14]:
# Ensuring all 'Read' values have been changed to 'Reading'
kipp_maps_df['subject'].value_counts()

Math       5562
Reading    5560
Name: subject, dtype: int64

In [15]:
# Find unique values for program_name
kipp_maps_df.program_name.unique()

array(['SPED', '.', 'LEP', 'Tier 2', 'Gifted', nan, '504', 'SPED '],
      dtype=object)

In [16]:
# Fill nan for program_name with 'GenEd'
kipp_maps_df['program_name'] = kipp_maps_df['program_name'].fillna('GenEd')

# QUESTION: Is 'nan' a student with no special program?

In [17]:
# Find unique values for program_name
kipp_maps_df.program_name.unique()

array(['SPED', '.', 'LEP', 'Tier 2', 'Gifted', 'GenEd', '504', 'SPED '],
      dtype=object)

In [18]:
# Replace '.' in the program_name column with 'GenEd'
kipp_maps_df['program_name'].replace(".", "GenEd", inplace=True)

In [19]:
# Find unique values for program_name
kipp_maps_df.program_name.unique()

array(['SPED', 'GenEd', 'LEP', 'Tier 2', 'Gifted', '504', 'SPED '],
      dtype=object)

In [20]:
# Reordering columns and showing a sample to ensure dataframe is functional/code is working
kipp_maps_df = kipp_maps_df[['student_id', 'school_name', 'grade_level_2019', 'year', 'program_name', 'map_term', 
                             'subject', 'rit_score', 'percentile', 'quartile', 
                            'typical_fall_to_spring_growth']]
kipp_maps_df.sample(15)

,student_id,school_name,grade_level_2019,year,program_name,map_term,subject,rit_score,percentile,quartile,typical_fall_to_spring_growth
2900,15424,School E,3,2019,GenEd,Fall,Reading,176,20,1,13
435,10791,School G,1,2019,GenEd,Spring,Math,187,68,3,.
8262,17147,School A,7,2019,GenEd,Fall,Reading,229,82,4,2
7319,12321,School D,7,2019,504,Fall,Math,214,25,2,6
1064,17517,School F,1,2019,GenEd,Fall,Reading,168,78,4,17
1397,27275,School F,2,2019,GenEd,Fall,Math,186,65,3,11
382,18632,School G,1,2019,GenEd,Spring,Reading,175,43,2,.
5132,20617,School B,5,2019,GenEd,Fall,Reading,181,5,1,10
4340,18132,School A,5,2019,GenEd,Fall,Reading,190,15,1,8
2293,13309,School G,2,2019,GenEd,Fall,Math,177,39,2,13
112,20470,School G,1,2019,GenEd,Fall,Reading,164,68,3,18
2946,26479,School E,3,2019,Tier 2,Spring,Reading,187,22,1,.
1020,19058,School F,1,2019,GenEd,Fall,Reading,157,46,2,19
1528,21213,School F,2,2019,GenEd,Fall,Reading,171,33,2,12
4082,12189,School B,5,2019,GenEd,Spring,Reading,208,40,2,.

In [21]:
# Exporting the dataframe to a CSV
filepath = Path('Resources/kipp_maps.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
kipp_maps_df.to_csv(filepath, index = False)

## Finding and Exporting Unique student_ids

In [22]:
# Finding the number of unique student ids
kipp_maps_df.student_id.nunique()

2787

In [23]:
# Creating an array of unique student ids
student_id_array = kipp_maps_df.student_id.unique()

In [24]:
# Converting the array into a dataframe
student_id_df = pd.DataFrame(student_id_array, columns = ['student_id'])
print(student_id_df)

      student_id
0          13898
1          27795
2          22938
3          22431
4          18048
...          ...
2782       28744
2783       12169
2784       24197
2785       27656
2786       29777

[2787 rows x 1 columns]

In [25]:
# Exporting unique student ids dataframe to a csv file
student_id_df.to_csv('Resources/unique_student_ids.csv', index=False)

## Understanding  & Managing Null Values

In [26]:
# Input updated csv into a dataframe
kipp_maps_updated_df=pd.read_csv("Resources/kipp_maps_updated.csv")
kipp_maps_updated_df.sample(15)

,student_id,school_name,grade_level_2019,year,program_name,fall_math_rit_score,fall_math_percentile,fall_math_quartile,spring_math_rit_score,spring_math_percentile,...,math_growth_difference,fall_reading_rit_score,fall_reading_percentile,fall_reading_quartile,spring_reading_rit_score,spring_reading_percentile,spring_reading_quartile,typical_reading_fall_to_spring_growth,actual_reading_fall_to_spring_growth,reading_growth_difference
2330,20366,School D,8,2019,GenEd,.,.,.,223,34,...,#VALUE!,.,.,.,209,24,1,.,#VALUE!,#VALUE!
1926,19122,School D,7,2019,GenEd,198,5,1,203,7,...,-2,212,40,2,212,34,2,4,0,-4
1055,17116,School B,5,2019,GenEd,212,52,3,230,70,...,8,204,46,2,218,66,3,6,14,8
91,23410,School G,1,2019,GenEd,176,89,4,192,79,...,-1,171,84,4,190,81,4,16,19,3
2590,11853,School F,0,2019,GenEd,150,75,4,177,90,...,10,150,75,4,177,93,4,15,27,12
1820,12801,School A,7,2019,GenEd,217,31,2,225,42,...,3,216,51,3,223,63,3,4,7,3
1526,13962,School A,6,2019,SPED,184,1,1,203,13,...,10,183,3,1,195,13,1,10,12,2
2075,29326,School D,7,2019,GenEd,.,.,.,210,15,...,#VALUE!,.,.,.,202,14,1,.,#VALUE!,#VALUE!
1748,20427,School B,7,2019,GenEd,245,88,4,257,95,...,9,229,82,4,225,67,3,2,-4,-6
1271,19299,School A,5,2019,GenEd,216,62,3,231,72,...,5,209,59,3,226,83,4,6,17,11
518,18953,School G,2,2019,GenEd,191,77,4,200,72,...,-1,187,74,3,195,66,3,9,8,-1
2485,14166,School G,0,2019,GenEd,130,25,2,169,76,...,18,139,44,2,176,92,4,18,37,19
2320,21809,School A,8,2019,GenEd,224,40,2,218,25,...,-10,203,16,1,213,33,2,5,10,5
3,22431,School F,1,2019,GenEd,164,64,3,180,48,...,-4,162,62,3,174,40,2,18,12,-6
1951,18690,School C,7,2019,GenEd,227,54,3,210,15,...,-22,227,78,4,219,52,3,2,-8,-10

In [27]:
# Finding the total length of the dataframe 
len(kipp_maps_updated_df)

2787

In [28]:
# Finding the null values for fall math score
print(kipp_maps_updated_df['fall_math_rit_score'].value_counts()['.'])

252

In [29]:
# Finding the null values for spring math score
print(kipp_maps_updated_df['spring_math_rit_score'].value_counts()['.'])

257

In [30]:
# Finding the null values for fall reading score
print(kipp_maps_updated_df['fall_reading_rit_score'].value_counts()['.'])

235

In [31]:
# Finding the null values for spring reading score
print(kipp_maps_updated_df['spring_reading_rit_score'].value_counts()['.'])

254

In [32]:
# Creating fall math df with dropped null values 
fall_math_df = kipp_maps_updated_df[kipp_maps_updated_df.fall_math_rit_score != "."]
fall_math_df.to_csv('Resources/fall_math.csv', index=False)
len(fall_math_df)

2535

In [33]:
# Creating spring math df with dropped null values 
spring_math_df = kipp_maps_updated_df[kipp_maps_updated_df.spring_math_rit_score != "."]
spring_math_df.to_csv('Resources/spring_math.csv', index=False)
len(spring_math_df)

2530

In [34]:
# Creating fall math df with dropped null values 
fall_reading_df = kipp_maps_updated_df[kipp_maps_updated_df.fall_reading_rit_score != "."]
fall_reading_df.to_csv('Resources/fall_reading.csv', index=False)
len(fall_reading_df)

2552

In [35]:
# Creating spring math df with dropped null values 
spring_reading_df = kipp_maps_updated_df[kipp_maps_updated_df.spring_reading_rit_score != "."]
spring_reading_df.to_csv('Resources/spring_reading.csv', index=False)
len(spring_reading_df)

2533

In [ ]:
# Creating math growth df with dropped null values 
math_growth_df = kipp_maps_updated_df[kipp_maps_updated_df.actual_math_fall_to_spring_growth != "#VALUE!"]
math_growth_df.to_csv('Resources/math

In [36]:
# Creating math growth df with dropped null values 
math_growth_df = kipp_maps_updated_df[kipp_maps_updated_df.actual_math_fall_to_spring_growth != "#VALUE!"]
math_growth_df.to_csv('Resources/math_growth.csv', index=False)
len(math_growth_df)

2278

In [37]:
# Creating math growth df with dropped null values 
reading_growth_df = kipp_maps_updated_df[kipp_maps_updated_df.actual_reading_fall_to_spring_growth != "#VALUE!"]
reading_growth_df.to_csv('Resources/reading_growth.csv', index=False)
len(reading_growth_df)

2298